@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Syncopate');

.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 115px;
    background: url("../../img/header.jpg") no-repeat 0 0/cover;
    padding: 0 0 20px;
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 10%, rgba(255, 255, 255, 1) 100%);
    z-index: 0;
}

.header-logo {
    position: relative;
    padding: 0 12px;
    font-size: 32px;
    color: rgba(17, 17, 17, .5);
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
    z-index: 111;
    text-shadow: 0 1px 2px rgba(0,0,0,.2);
    transition: text-shadow .3s ease;
}

.header-logo:hover {
    text-shadow: 0 1px 2px rgba(0,0,0,.4);
}

.header-auth {
    z-index: 111;
    text-align: center;
    padding: 12px 8px 12px 0;
    order: 2;
}

.header-auth__btn {
    padding: 0 11px;
    line-height: 2.1;
    border-radius: 4px;
    font-size: 16px;
    color: rgba(17, 17, 17, .5);
    background-color: rgba(250, 250, 250, .2);
    border: 1px solid rgba(17, 17, 17, .5);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    transition: all .2s ease-in-out;
    min-width: 90px;
}

.header-auth__btn:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border: 1px solid rgba(153, 153, 153, 1);
    color: rgba(17, 17, 17, .8);
    background-color: rgba(250, 250, 250, .4);
}

.header-auth__btn:active {
    color: rgba(17, 17, 17, .5);
    background-color: rgba(250, 250, 250, .2);
}

.header-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 0 2%;
    order: 3;
}

.header-menu {
    display: block;
    color: rgba(17, 17, 17, .5);
    z-index: 111;
    cursor: pointer;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    -webkit-transition: color .3s ease-in;
    -moz-transition: color .3s  ease-in;
    -ms-transition: color .3s  ease-in;
    -o-transition: color .3s  ease-in;
    transition: color .3s  ease-in;
}

.header-menu:hover {
    color: rgba(17, 17, 17, .8);
}

@media only screen and (min-width: 489px) {
    .header-menu {
        display: none;
    }
}

@media only screen and (min-width: 767px) {
    .header {
        flex-wrap: nowrap;
        padding: 0 20px 10px;
        background-position: 0 -30px;
    }
    .header-logo {
        padding: 12px;
        order: 1;
    }

    .header-auth {
        order: 3;
    }

    .header-auth__btn {
        line-height: 2.2;
    }
}

@media only screen and (min-width: 940px) {
    .header-logo {
        position: fixed;
    }
}