.filters {
    margin: 0 auto 10px;
    width: 100%;
    padding: 0 10px;
}

.filters-list {
    padding: 0;
    list-style-type: none;
}

.filters-list__item {
    font-size: 14px;
    padding: 6px 0;
    display: flex;
}


.filters-list__label {
    font-size: 12px;
    margin-bottom: 15px;
    display: block;
    width: 30%;
}

.filters-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters-reset {
    background: transparent;
    border: 0;
    color: rgba(17, 17, 17, .5);
    cursor: pointer;
    padding: 10px 0;
}

.filters-reset:hover{
    color: rgba(17, 17, 17, .9);
    opacity: 0.8;
}

.filters-reset svg{
    width: 14px;
    height: 11px;
    display: inline-block;
}

.filters-reset:hover path{
    fill: rgba(17, 17, 17, .9);
}

.filters-reset path{
    fill: rgba(17, 17, 17, .3);
}

@media screen and (min-width: 940px) {
    .filters {
        padding: 0;
    }
}
